* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #C4EEF2;
}

nav {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #025159;
    text-align: center;
    border-radius: 2px 10px;
    justify-content: space-around;
    font-family: cursive;
    font-size: 10mm;
}

nav a {
    text-decoration: none;
    color: #9EF8EE;
}

h3 {
    text-align: center;
    font-size: 5mm;
}

.col {
    background-color: #3F858C;
    border-style: inset;
    border-radius: 10px 5px;
    padding-top: 9px;
    margin: 0px;
    height: 50px;
}